
#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"Modern Theme\0"
#define REACTOS_STR_INTERNAL_NAME	"Modern\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"modern.msstyles\0"
#include <reactos/version.rc>
#include <windows.h>
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)
#ifdef LANGUAGE_CS_CZ
    #include "lang/cs-CZ.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/de-DE.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_EN_GB
    #include "lang/en-GB.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "lang/es-ES.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/fr-FR.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/it-IT.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/ro-RO.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/ru-RU.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/tr-TR.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/zh-CN.rc"
#endif



1 COLORNAMES					{L"Light\0Dark\0\0"}
COMBO COMBODATA					{0x0003,0x0003, 0x0000, 0x0003, 0x0006, 0x0001,0x0004,0x0007,0x0002,0x0005,0x08,}
1 PACKTHEM_VERSION				{0x03,}
1 FILERESNAMES					{L"REGULARLIGHT_INI\0LARGEFONTSLIGHT_INI\0EXTRALARGELIGHT_INI\0REGULARDARK_INI\0LARGEFONTSDARK_INI\0EXTRALARGEDARK_INI\0\0"}
1 SIZENAMES						{L"Regular Fonts\0Large Fonts\0Extra Large Fonts\0\0"}
1 MINDEPTH						{0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x0000,}


EXTRALARGELIGHT_INI TEXTFILE	"textfiles/ExtraLargeLight_utf16.INI"
LARGEFONTSLIGHT_INI TEXTFILE	"textfiles/LargeFontsLight_utf16.INI"
REGULARLIGHT_INI TEXTFILE		"textfiles/RegularLight_utf16.INI"

EXTRALARGEDARK_INI TEXTFILE		"textfiles/ExtraLargeDark_utf16.INI"
LARGEFONTSDARK_INI TEXTFILE		"textfiles/LargeFontsDark_utf16.INI"
REGULARDARK_INI TEXTFILE		"textfiles/RegularDark_utf16.INI"

THEMES_INI TEXTFILE				{L"\r\n"}

LIGHT_BALLOONCLOSE_BMP BITMAP "bitmaps/LIGHT_BALLOONCLOSE.bmp"
LIGHT_BUTTON_BMP BITMAP "bitmaps/LIGHT_BUTTON.bmp"
LIGHT_CHECKBOX13_BMP BITMAP "bitmaps/LIGHT_CHECKBOX13.bmp"
LIGHT_CHECKBOX16_BMP BITMAP "bitmaps/LIGHT_CHECKBOX16.bmp"
LIGHT_CHECKBOX25_BMP BITMAP "bitmaps/LIGHT_CHECKBOX25.bmp"
LIGHT_CHEVRON_BMP BITMAP "bitmaps/LIGHT_CHEVRON.bmp"
LIGHT_CLOSEBUTTON_BMP BITMAP "bitmaps/LIGHT_CLOSEBUTTON.bmp"
LIGHT_CLOSEGLYPH_BMP BITMAP "bitmaps/LIGHT_CLOSEGLYPH.bmp"
LIGHT_CLOSEGLYPH6_BMP BITMAP "bitmaps/LIGHT_CLOSEGLYPH6.bmp"
LIGHT_CLOSEGLYPH9_BMP BITMAP "bitmaps/LIGHT_CLOSEGLYPH9.bmp"
LIGHT_CLOSEGLYPH19_BMP BITMAP "bitmaps/LIGHT_CLOSEGLYPH19.bmp"
LIGHT_CLOSEGLYPH23_BMP BITMAP "bitmaps/LIGHT_CLOSEGLYPH23.bmp"
LIGHT_COMBOBUTTON_BMP BITMAP "bitmaps/LIGHT_COMBOBUTTON.bmp"
LIGHT_COMBOBUTTONGLYPH_BMP BITMAP "bitmaps/LIGHT_COMBOBUTTONGLYPH.bmp"
LIGHT_EXPLORERBARHEADERBACKGROUND_BMP BITMAP "bitmaps/LIGHT_EXPLORERBARHEADERBACKGROUND.bmp"
LIGHT_EXPLORERBARHEADERCLOSE_BMP BITMAP "bitmaps/LIGHT_EXPLORERBARHEADERCLOSE.bmp"
LIGHT_EXPLORERBARTOOLBARBACKGROUND_BMP BITMAP "bitmaps/LIGHT_EXPLORERBARTOOLBARBACKGROUND.bmp"
LIGHT_EXPLORERBARTOOLBARBUTTONS BITMAP "bitmaps/LIGHT_EXPLORERBARTOOLBARBUTTONS.bmp"
LIGHT_EXPLORERBARTOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/LIGHT_EXPLORERBARTOOLBARBUTTONSSPLIT.bmp"
LIGHT_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/LIGHT_EXPLORERBARTOOLBARBUTTONSSPLITDROPDOWN.bmp"
